@{
    ViewBag.Title = "Подтверждение пароля (если он был забыт)"; 
    Layout = "../Shared/_AccountLayout.cshtml";
}
<div class="login-box-body">
    <p class="login-box-msg">
        Проверьте электронную почту, чтобы сбросить пароль.
    </p>
</div>

