@model IEnumerable<ManagementSystem.Models.Electronics>

@{
    ViewBag.Title = "Добро пожаловать";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
 
<!-- =============================================== -->

<div class="content-wrapper"> 
    <section class="content">
        <div class="row">
            <div class="col-xs-12"> 
                <div class="box"> 
                    <div class="box-body no-padding">
                        <div class="jumbotron bg-white">
                            <div class="container">
                                <h1 class="text-center text-green">@ViewBag.Title</h1>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- =============================================== --> 